@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Welcome</h1>

    <img src="~/images/pt_profescipta_wahanatehnik_logo.jpeg"
         alt="Company Logo"
         class="img-fluid rounded mt-3"
         style="max-width: 300px;">

    <br>

    <a asp-page="/Order/Index" class="btn btn-primary mt-3">Go to Application</a>
</div>